<footer class="footer">
    <div class="container-fluid">
        <div class="copyright ml-auto">
            2023, Asp.Net Core 6 SignalR ile yapıldı <i class="la la-heart heart text-danger"></i> by <a href="https://github.com/omerdumlupinar">Ömer Dumlupınar</a>
        </div>
    </div>
</footer>